</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/functions.js" charset="utf-8"></script>

<footer>
    <p id="footer-text">© Waleed Georgy 2024</p>
</footer>

</html>
