<%- include("partials/header.ejs"); %>
<h1>Welcome to BLOGBUSTER📔</h1>
<div id="main-container">
  <!-- Forms section -->
  <div id="left-section">
    <div class="user-form">
      <h2>What's on your mind?</h2>
      <form action="/" method="POST">
        <label for="username">Name:</label>
        <input type="text" id="username" name="username" /><br /><br />
        <label for="topic">Topic:</label>
        <input type="text" id="topic" name="topic" /><br /><br />
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" /><br /><br />
        <textarea maxlength="1000" rows="3" cols="50" id="post" name="post" placeholder="What say you?"></textarea><br />
        <p id="charLimit"></p>
        <input type="submit" id="submit-btn" class="form-btn" value="Submit" />
      </form>
    </div>
  </div>
  <!-- Links section -->
  <div id="right-section">
    <% if(locals.postContent) { %>
      <% postContent.forEach(post => { %>
        <a href="posts.ejs"><%= post.post[0].subject %></a>
      <% }); %>
    <% } else { %>
    <h2>No posts yet</h2>
    <% } %>
  </div>
</div>
<%- include("partials/footer.ejs"); %>