<%- include("partials/header.ejs"); %>
<h1>Welcome to BLOGBUSTER📔</h1>
<div id="main-container">
  <!-- Forms section -->
  <div id="left-section">
    <div class="user-form">
      <h2>What's on your mind?</h2>
      <form action="/" method="POST">
        <label for="username">Name:</label>
        <input type="text" id="username" name="username" /><br /><br />
        <label for="topic">Topic:</label>
        <input type="text" id="topic" name="topic" /><br /><br />
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" /><br /><br />
        <textarea maxlength="1000" rows="3" cols="50" id="post" name="post" placeholder="What say you?"></textarea><br />
        <p id="charLimit"></p>
        <input type="submit" id="submit-btn" class="form-btn" value="Submit" />
      </form>
    </div>
    <a href="posts.ejs">👉 All posts</a>
  </div>
  <!-- Links section -->
  <div id="right-section">
    <% if(locals.posts.length === 0) { %>
        <h3>No Posts Yet</h3>
    <% } else { %>
      <% posts.forEach(post => { %>
         <a href="posts.ejs#user-output-<%= post.id %>"><%= post.subject %></a>
      <% })} %>
  </div>
</div>
<%- include("partials/footer.ejs"); %>