body{
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    height: auto;
    margin: 30px;
}

h1{
    display: block;
    text-align: center;
    padding: 3rem;
    letter-spacing: 0.8rem;
    margin: 0;
    margin-bottom: 20px;
    color: rgb(38, 38, 38);
}

#main-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 7fr;
    grid-auto-flow: row;
    justify-items: stretch;
    align-items: start;
    column-gap: 3rem;
}

.user-form{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.user-form p{
    font-size: 0.8rem;
}

.user-form h2{
    margin-top: 0;
    font-size: 1.2rem;
}

.user-output{
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(66, 140, 153);
    color: whitesmoke;
    margin-bottom: 1rem;
}

.user-output h2{
    margin: 0;
    font-size: 1.2rem;
    float: left;
}

.user-output h3{
    font-weight: 700;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 0.5rem;
}

.user-output h5{
    margin: 0;
    font-size: 0.8rem;
    float: right;
}

#post{
    resize: none;
    padding: 5px;
    max-width: 100%;
}

#post-topic{
    text-align: left;
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 0;
    margin-top: 2rem;
}

.user-output span {
    color: rgb(253, 216, 167);
}

#post-date{
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0;
    text-align: right;
}

#post-content{
    text-align: left;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.25rem;
}

.form-btn{
    background-color: rgb(66, 140, 153);
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
    font-weight: 700;
}

.form-btn:hover{
    background-color: rgb(48, 97, 105);
    cursor: pointer;
}

footer{
    margin-top: 10.3rem;
    max-width: 50%;
    position: relative;
    left: 25%;
}

#footer-text{
    padding: 5px;
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    border-top: 1px solid gray;
}