html {
    scroll-behavior: smooth;
  }

body{
    text-align: center;
    background-color: whitesmoke;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 2rem;
    padding: 0;
}

h1{
    text-align: center;
    padding: 2rem;
    letter-spacing: 0.8rem;
    margin: 0;
    margin-bottom: 2rem;
    color: rgb(38, 38, 38);
}

a{
    color:rgb(66, 140, 153);
    transition: color 0.5s;
}

a:hover{
    color:rgb(48, 97, 105);
}

li{
    text-align: left;
    list-style-type: '👉';
    padding-inline-start: 0.5rem;
}

li > a{
    color: rgb(66, 140, 153);
    text-decoration: none;
    transition: color 0.5s;
    font-weight: bold;
}

/* ============= INDEX.EJS ============= */
#main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
}

.user-form{
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2.5rem;
    background-color: white;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.user-form p{
    font-size: 0.9rem;
}

.user-form h2{
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
}

label{
    margin-right: 0.5rem;
}

#topic{
    padding-right: 2.7rem;
}

#subject{
    padding-right: 1.7rem;
}

#right-section{
    text-align: left;
}

#right-section ul{
    padding-left: 5px;
}

#right-section a{
    margin: 5px;
    font-weight: bold;
}

#all-posts-link{
    text-decoration: none;
    font-size: 1.75rem;
    color: orangered;
}

#all-posts-link:hover{
    color: rgb(193, 51, 0);
}

#right-section h2{
    margin-left: 0.75rem;
    font-size: 2rem;
}

#right-section li {
    margin-bottom: 0.75rem;
    list-style-type: '';
    padding-inline-start: 0;
}

.post-link:before{
    content: url('../images/file.svg');
    display: inline-block;
    margin-right: 5px;
}

/* ============= POSTS.EJS ============= */
#posts-section{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 5fr;
    column-gap: 2rem;
}

#link-to-main{
    list-style-type: '👈';
    padding-inline-start: 0.5rem;
}

#link-to-main a{
    color: orangered;
}

#link-to-main a:hover{
    color: rgb(193, 51, 0);
}

.user-output{
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-bottom: 1.5rem;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.user-output:target {
    animation: flash-background-color 1.5s;
}

@keyframes flash-background-color {
    0% {
      background-color: rgb(66, 140, 153);
    }
    to {
      background-color: white;
    }
}  

.user-output h2{
    text-align: left;
    margin: 0;
    font-size: 1.35rem;
}

.user-output h3{
    font-weight: 700;
    color: black;
    font-size: 2rem;
    text-align: center;
    transition: color 0.5s;
}

.user-output h3:hover{
    color: rgb(66, 140, 153);
}

.user-output span {
    color: rgb(66, 140, 153);
}

#delete-btn {
    text-decoration: none;
    background-color: rgb(255, 57, 57);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 1s;
}

#delete-btn:hover {
    background-color: rgb(203, 0, 0);
}

#edit-btn {
    text-decoration: none;
    background-color: rgb(66, 140, 153);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    transition: background-color 1s;
}

#edit-btn:hover {
    background-color: rgb(48, 97, 105);
}

#posts-links li{
    margin-bottom: 0.75rem;
}

#post{
    resize: none;
    padding: 5px;
}

#post-topic{
    text-align: left;
    font-size: 0.95rem;
    margin: 0;
    margin-top: 0.5rem;
}

#post-date{
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0;
    text-align: left;
    margin-top: 0.5rem;
}

#post-content{
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
}

#posts-bodies h4{
    text-align: right;
    margin-right: 4rem;
}

.form-btn{
    background-color: rgb(66, 140, 153);
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    transition: background-color 0.5s;
}

.form-btn:hover{
    background-color: rgb(48, 97, 105);
    cursor: pointer;
}

/* ============== EDIT.EJS ============== */
#edit-post-label{
    font-size: 2.2rem;
}

#updateUsername{
    font-size: 1.1rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#updateTopic{
    padding-right: 2.7rem;
    font-size: 1.1rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#updateSubject{
    padding-right: 1.7rem;
    font-size: 1.1rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#updatePost{
    resize: none;
    padding: 5px 10px 5px 10px;
    font-size: 1.15rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 60%;
    line-height: 27px;
}

#update-btn{
    padding:10px 20px 10px 20px;
    font-size: 1.2rem;
    font-weight: 100;
}

/* FOOTER */
footer{
    flex: 0 0 auto;
    color: lightslategray;
    text-align: left;
    font-size: 0.55rem;
    letter-spacing: 0.25rem;
    position: absolute;
    bottom :1rem;
}